
.hundredtbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
}

.tentbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
}

.thousandbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
}

.hundredbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
}

.tenbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
} 

.unitbox {
    height: 80px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 320%;
    color: white ;
    text-align: center;
    border: 2px solid gray;
    border-radius: 10%;
}

.clock {
    width: 80px;
    border: 2px solid gray;
    border-radius: 10%;
}